---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import SocialIcons from '../components/SocialIcons.astro'

---

<DefaultLayout title="Home">
  <Hero />
<SocialIcons/>
  <section class="my-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">What I Do</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:wheelchair-accessibility" title="Accessibility">
          Web Accessibility has been engrained into my journey in tech right from that start, and it's the topic I care most deeply about. Together, I believe, we should all strive for a more accessible, inclusive web.
        </Feature>
        <Feature icon="typcn:microphone" title="Public Speaking">
          I love (developer) conferences and community meet-ups. Are you looking for a speaker to talk about web accessibility, getting into tech or inclusive communities? You can find a full list of my available talks on <a href="https://sessionize.com/josefine-schaefer/">sessionize</a>. 
        </Feature>
        <Feature icon="fluent:people-28-filled" title="Mentoring">
          Are you looking for someone to chat? I am offering free 1:1 mentoring sessions for women & non-binary folks looking to get into tech or developing their carreer. Get in touch via <a href="https://www.linkedin.com/in/j-schaefer/">LinkedIn</a> to book a session :) 
        </Feature>
      </div>
    </div>
  </section>
</DefaultLayout>
