---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Amazing Starter Theme for <a href="https://astro.build/">Astro</a> by Mark Teekman. Adapted with ❤️ by <a
          href="https://twitter.com/JsfnSchfr">Josefine</a
        >.
      </p>
    </div>
  </section>
</footer>
