---
import Icon from "astro-icon";
---

<section class="my-64">
    <div class="container">
      <div class="grid grid-cols-1 gap-16 md:grid-cols-2 md:gap-48 lg:grid-cols-4 lg:gap-64">
        <a href="https://twitter.com/JsfnSchfr" title="Go to the Twitter Profile">
          <Icon pack="ion" name="logo-twitter" />
        </a>
        <a href="https://www.linkedin.com/in/j-schaefer/" title="Go to the LinkedIn Profile">
          <Icon pack="ion" name="logo-linkedin" />
        </a>
        <a href="https://github.com/josefineschaefer/" title="Go to the GitHub page">
          <Icon pack="ion" name="logo-github" />
        </a>
        <a href="https://dev.to/josefine" title="Go to the Dev.to Profile">
          <Icon pack="ic" name="outline-logo-dev"/>
        </a>
      </div>
    </div>
</section>